#logo {
  display: block;
  margin: 20px auto 20px auto;
}

#top-bar-text {
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 1.25em;
  display: center;
  color: #000;
}

.container {
  width: 40%;
  margin: auto;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: auto;
  height: 0;
  width: 40%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #292F36;
}

.navbar-default {
  background-color: #80DED9 ;
  color: #000000;
}

.button {
  border-radius: 5px;
  background-color: white;
}

body {
}

#element-title {
  display: inline-block;
}

p {
  padding: 0;
}

#list-element {
  margin:0 0 0 3em;
}

#add-button-image {
  width: 50%;
  opacity: 0.5;
}

.funlist-button {
  margin: 0;
  height: 2em;
  width: 10%;
  background-color: #efeff0;
  float: right;
  border: 1px solid #D3D3D3;
  border-radius: 1.5px;
}

.funlist-button:focus {
  outline: 0;
}

.funlist-button:active {
}

#add-element-field {
  outline: 0;
  height: 2em;
  width: 90%;
  border: 1px solid #D3D3D3;
}

#add-element-field:focus {
  outline: 0;
  border: 1px solid #508991;
}

#add-element {
  width: 100%;
  margin-top: 1em;
}