.navbar-default {
  background-color: #80DED9 ;
  color: #000000;
}

.button {
  border-radius: 5px;
}

body {
}

#element-title {
  display: inline-block;
  width: 30vw;
  padding: 5px 0 5px 0;
  border: 3px solid black;
  border-radius: 5px;
}

p {
  padding-left: 10px;
  padding-bottom: 0.5em;
}

#deleteImage {
  height:20px;
  width:20px;
}

#list-element {
}

#list-element, #add-element {
  margin:10px 0 10px 1em;
}