
<center>

<h3>whee list</h3>

<ul >
{{#each model as |list|}}
   {{list.title}}<br/>
{{/each}}
</ul>

{{input value=title placeholder="New Item"}}
<button {{action "publishList"}}>Add</button>
{{outlet}}

</center>